{% extends "base_page.html" %}

{% block title %}
<title>District Profiles</title>
{% endblock title %}

{% block map %}
{% endblock %}

{% block pass_links_list %}
{% set space="&nbsp;"*3 %}
<br>
<h3 class="list_head">Participating Districts</h3>
<center>
<div class='tableauPlaceholder' id='viz1594076229875' style='position:relative; display:block;'><noscript>
        <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;TI&#47;TIPMap&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a>
        </noscript>
        <object class='tableauViz'  style='display:block;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='' />
            <param name='name' value='TIPMap&#47;Dashboard1' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;TI&#47;TIPMap&#47;Dashboard1&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en' />
            <param name='filter' value='publish=yes' />
        </object>
    </div>
        <script type='text/javascript'>
            var divElement = document.getElementById('viz1594076229875');
            var vizElement = divElement.getElementsByTagName('object')[0];
            if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';}
            else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';}
            else { vizElement.style.width='100%';vizElement.style.height='727px';}
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
</center>

<br>
<br>


<div class="links">
    <center>
        <ul>
            {% for letter in tip_alphabet %}
                <span style="font-weight: bold; text-decoration: underline; color:#6a7e9e;
                font-size:20px; font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif">{{ space|safe }}{{ letter }}{{ space|safe }}</span>
                {% for item in tip_leas %}
                    {% if item[0] == letter %}
                        <li><a href="{{ url_for(landing_def, lea=item) }}"> {{ item }} </a></li>
                    {% endif %}
                {% endfor %}
                <br>
            {% endfor %}
        </ul>
    </center>
</div>
<br>
<br>
<h3 class="list_head">All Districts</h3>
<br>
<div class="links">
    <center>
        <ul>
            {% for letter in all_alphabet %}
                <span style="font-weight: bold; text-decoration: underline; color:#6a7e9e;
                font-size:20px; font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif">{{ space|safe }}{{ letter }}{{ space|safe }}</span>
                {% for item in all_leas %}
                    {% if item[0] == letter %}
                        <li><a href="{{ url_for(landing_def, lea=item) }}"> {{ item }} </a></li>
                    {% endif %}
                {% endfor %}
                <br>
            {% endfor %}
        </ul>
    </center>
</div>
{% endblock %}
